.login-card-outer {
    background-color: #ececec;
}

.login-form-inner {
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30em;
    position: relative;
    margin: auto;
    padding: 2em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-outer {
    width: 100%;
}

.login-form-inputs {
    padding: 10px;
    width: 26em;
    height: 30em;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
}

.loading {
    position: absolute;
    width: 26em;
    height: 30em;
    background-color: #ffffff9c;
    border-radius: 5px;
}

.loading div {
    margin: auto;
    align-self: center;
}

.mat-form-field {
    margin: 0 .2em;
}

mat-card {
    height: 100%
}

.disclaimer {
    width: 50em;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: smaller;
    margin: 5em auto;
}

.source {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.source img {
    margin: 1em;
    height: 2em;
}