<div class="login-card-outer">

    <div class="login-form-outer" fxLayout="column">
        <div class="login-form-inner">

            <div [formGroup]="frmStepLogin" fxLayout="column" class="login-form-inputs mat-elevation-z1">
                <h1>Log In with your Mist Account</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Mist Cloud</mat-label>
                    <mat-select formControlName="host">
                        <mat-option *ngFor="let host of hosts " [value]="host.value">
                            {{host.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" type="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" (keydown.enter)="submitCredentials()" />
                </mat-form-field>
                <div style="margin-bottom: 1em; min-height: 20px;">
                    <span style="color:red; font-weight: normal; ">{{error_message}}</span>
                </div>
                <div></div>
                <button mat-raised-button color="primary" (click)="submitCredentials()">
                    Log In
                </button>
            </div>

            <div class="loading" fxLayout="row" *ngIf="loading">
                <div fxLayout="column">
                    <mat-spinner strokeWidth=3></mat-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="disclaimer">
        <div>
            {{disclaimer}}
        </div>
    </div>
    <div class="source">
        <a *ngIf="github_url" href={{github_url}} target="_blank"><img src="images/github.png"></a>
        <a *ngIf="docker_url" href={{docker_url}} target="_blank"><img src="images/docker.png"></a>
    </div>
</div>