mat-card {
    background-color: rgb(236 236 236);
}

.login-form-inner {
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 50em;
    position: relative;
    margin: auto;
    padding: 2em;
    border-radius: 0.3em;
}

.login-form-outer {
    width: 100%;
    background-color: rgb(236 236 236);
}

.login-form-inputs {
    padding: 10px;
    width: 25em;
    text-align: center;
    justify-content: space-between;
}

.login-form-or {
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

.disable-click {
    pointer-events: none;
    cursor: default;
}

.login-step {
    border: solid 1px lightgray;
    background-color: white;
    border-radius: 5px;
    margin: -2em;
    padding: 2em;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c;
    border-radius: 5px;
}

.loading div {
    margin: auto;
    align-self: center;
}

.disclaimer {
    width: 50em;
    text-align: center;
    margin: 5em auto;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: smaller;
}

.source {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.source img {
    margin: 1em;
    height: 2em;
}