<mat-card class="card-outer">

    <form [formGroup]="frmStepLogin" class="login-form">
        <div class="login-form-outer" [formGroup]="frmStepLogin" fxLayout="column">
            <div class="login-form-inner">
                <div fxLayout="column" class="login-step">
                    <mat-form-field appearance="outline">
                        <mat-label>Mist Cloud</mat-label>
                        <mat-select formControlName="host">
                            <mat-option *ngFor="let host of hosts " [value]="host.value">
                                {{host.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="login-form-or">
                    <span></span>
                    <button mat-fab color="accent" aria-label="AND" class="disable-click">
                        AND
                    </button>
                    <span></span>
                </div>

                <div fxLayout="row" class="login-step">

                    <div formGroupName="credentials" fxLayout="column" class="login-form-inputs">
                        <h1>Access with Login/Password</h1>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" (keydown.enter)="submitCredentials()" />
                        </mat-form-field>
                        <div style="margin-bottom: 1em; min-height: 20px;">
                            <span style="color:red; font-weight: normal; ">{{error_mess.credentials}}</span>
                        </div>
                        <div></div>
                        <button mat-raised-button color="primary" (click)="submitCredentials()">Continue with
                            credentials</button>
                    </div>
                    <div fxLayout="column" class="login-form-or">
                        <mat-divider [vertical]="true"></mat-divider>
                        <button mat-fab color="accent" aria-label="OR" class="disable-click" style="margin-bottom: 4em;">
                            OR
                        </button>
                        <mat-divider [vertical]="true"></mat-divider>
                    </div>
                    <div fxLayout="column" class="login-form-inputs">
                        <h1>Access with API Token</h1>
                        <mat-form-field appearance="outline" style="padding: 0;">
                            <mat-label>API Token</mat-label>
                            <input type="text" matInput formControlName="token" (keydown.enter)="submitToken()" />
                        </mat-form-field>
                        <div>
                            <span style="color:red; font-weight: normal;">{{error_mess.token}}</span>
                        </div>
                        <div></div>
                        <button mat-raised-button color="primary" (click)="submitToken()">Continue with API
                            Token</button>
                    </div>
                </div>
                <div class="loading" fxLayout="row" *ngIf="loading">
                    <div fxLayout="column">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </form>

</mat-card>
<div class="disclaimer">
    <div>
        {{disclaimer}}
    </div>
</div>
<div class="source">
    <a *ngIf="github_url" href={{github_url}} target="_blank"><img src="static/github.png"></a>
    <a *ngIf="docker_url" href={{docker_url}} target="_blank"><img src="static/docker.png"></a>
</div>