.max90vh {
    height: calc(100vh - 80px);
}

.card-outer {
    background-color: unset;
    max-width: 1900px;
    margin: auto;
}

.top-bar-container {
    margin: 0 0 1em 0;
}

.top-bar {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.list {
    margin: 1.34375em 1em 0;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c;
    border-radius: 5px;
    z-index: 1000;
}

.loading div {
    margin: auto;
    align-self: center;
}

.button-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.end {
    justify-content: space-around !important;
}

.tooltip {
    color: gray;
}

.tooltip:hover {
    color: black;
}


/* Structure */

tr.mat-row,
tr.mat-footer-row {
    height: 2em;
}

.psk-table-container {
    /* position: relative; */
    /* max-height: 400px; */
    overflow: auto;
}

table {
    width: 100%;
}

.psk-container {
    border: none;
    width: 100%;
    min-width: 20em;
    position: relative;
    margin: auto;
    border-radius: 0.3em;
    max-width: 150em;
}

.psk-table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mist-space {
    margin-left: 2em;
    margin-right: 2em;
}

.mist-space-around {
    margin: 2em;
}

.no-cursor {
    cursor: default;
}


/* Column Widths */

.mat-column-action {
    width: 150px !important;
}

.edit {
    background-color: #0d60aa !important;
}

.delete {
    background-color: #f44336 !important;
}

td:hover {
    background-color: lightgrey;
    transition: background-color 250ms ease-in-out;
}

td,
div.selectable {
    background-color: unset;
    transition: background-color 250ms ease-in-out;
}

td.selected,
div.selectable.selected {
    background-color: lightgrey;
    transition: background-color 250ms ease-in-out;
}

.compact-select {
    margin: 1em 0 -1em;
}


/* SWITCH */

.switch {
    background-color: #fafafa;
    border: solid 1px gray;
    border-radius: 5px;
    height: 100px;
    padding: 10px 20px;
    min-width: 930px;
    max-width: 1000px;
}


/* PORTS */

div.ports-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin-right: -20px;
}

span.port-text {
    height: 60px;
    width: 60px;
}

.ports-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60px;
    align-content: flex-start;
}

.normal-port {
    background-color: #ddd;
    transition: box-shadow background-color 250ms ease-in-out;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin: 2px 3px;
    border: 1px solid transparent;
    box-shadow: none;
}

.port-up {
    background-color: #6f9d2b;
}

.selected-port {
    border: solid 1px black;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow background-color 250ms ease-in-out;
}


/* MAT CHECKBOX EXPANDED */

mat-checkbox.expand-checkbox {
    margin: -0.5em
}

::ng-deep mat-checkbox.expand-checkbox .mat-checkbox-layout {
    width: 100%;
}

::ng-deep mat-checkbox.expand-checkbox .mat-checkbox-inner-container {
    margin-left: 1em;
}

::ng-deep mat-checkbox.expand-checkbox .mat-checkbox-label {
    width: 100%;
    margin: 0.5em 0 0.5em 0;
}


/* MEMBER DETAILS */

.member-details {}

.member-details th {
    text-align: start;
    padding-right: 1em;
    font-weight: normal;
    vertical-align: top;
}

.member-details td {
    text-align: start;
    font-weight: lighter;
    color: gray;
}

.member-details td:hover {
    background-color: transparent;
}