/* NAV */

.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
}

mat-expansion-panel {
    border-radius: unset !important;
}


/* CONTAINERS COMMONE */

.container {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 55em;
    margin: 1em;
}


/* TOPICS */

.topic.container {
    height: 70em;
    width: 55em;
    padding: 0;
}

.topic.container mat-card-title {
    padding: 16px;
}

.topic-indicator {
    border: 1px solid #c4c4c4;
    width: 1em;
    height: .5em;
    border-radius: 1em;
    margin: .5em;
}

.topic-indicator.enabled {
    background-color: #86b231;
}

.topic-table {
    overflow: auto;
}

.mat-column-sub_topic {
    width: 25% !important;
}

.mat-column-name {
    width: 62% !important;
}

.mat-column-channel {
    width: 18% !important;
}


/* Main Info */

.info {
    height: 2.5em;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.info-title {
    width: 8em;
    font-weight: bold;
}

.info-status {
    width: auto;
    font-weight: lighter;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.info-status mat-icon {
    font-size: 1.2em;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

.info-warning {
    color: #e46b00;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.info-warning mat-icon {
    margin-left: 1em;
    font-size: 1.5em;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


/* Notif Menu */

.notif.icon {
    height: 2em;
    border: 1px solid #e7e5e5;
    border-radius: 5em;
    margin-right: 1em;
}